In [1]:
import pandas as pd
import seaborn as sns

import src.cleaning_utils as cl
# Para llamar a el archivo de python con funciones para limpieza

In [3]:
data = pd.read_csv("./attacks.csv", encoding="ISO-8859-1")

In [4]:
data.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

In [5]:
data.shape

(25723, 24)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
# Prueba de dropeo de columnas

# data.drop(["Unnamed: 22","Unnamed: 23"], axis = 1)

In [8]:
columns = data.columns
columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
columnas = ["Case Number","Date","Year","Type","Country","Area","Activity","Fatal (Y/N)","Species ","pdf"]

In [10]:
# First cleaning function

shark_data = cl.first_clean(data, columnas)

In [11]:
new_names = ["case_number","date","year","type","country","area","activity","fatal","species","pdf"]

In [12]:
# Second cleaning function

shark_data = cl.change_column_name(shark_data, new_names)

In [13]:
# Third cleaning function

shark_data = cl.cleaning_date_null(shark_data)

In [14]:
shark_data

,case_number,date,year,type,country,area,activity,fatal,species,pdf
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,N,White shark,2018.06.25-Wolfe.pdf
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,N,NaN,2018.06.18-McNeely.pdf
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,N,NaN,2018.06.09-Denges.pdf
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,N,2 m shark,2018.06.08-Arrawarra.pdf
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,N,"Tiger shark, 3m",2018.06.04-Ramos.pdf
...,...,...,...,...,...,...,...,...,...,...
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,Y,Said to involve a grey nurse shark that leapt ...,ND-0006-ArabBoy-Prymount.pdf
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,Y,NaN,ND-0005-RoebuckBay.pdf
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Y,NaN,ND-0004-Ahmun.pdf
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,Y,NaN,ND-0003-Ocracoke_1900-1905.pdf
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,NaN,Y,NaN,ND-0002-JulesPatterson.pdf

In [15]:
# Filling "year" column NaN with 0s and converting it to int:

shark_data["year"].fillna(0, inplace = True)
shark_data.isnull().sum()
shark_data.year = shark_data.year.astype(int)

In [16]:
shark_data.isnull().sum()

case_number       1
date              0
year              0
type              4
country          50
area            455
activity        544
fatal           539
species        2837
pdf               0
dtype: int64

In [17]:
shark_data.shape

(6301, 10)

In [18]:
shark_data.country.value_counts().head(25)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           61
REUNION               60
NEW CALEDONIA         53
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
CROATIA               34
JAPAN                 34
PANAMA                32
SOLOMON ISLANDS       30
IRAN                  29
JAMAICA               27
FRENCH POLYNESIA      25
Name: country, dtype: int64

In [19]:
# Limpieza de la columna fatal

shark_data = cl.cleaning_fatal(shark_data)

In [20]:
shark_data.fatal.unique()

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [21]:
# Exporting the cleaner dataset

shark_data.to_csv("attacks_limpio.csv", index = False)